body {
    margin: 0;
    box-sizing: border-box;
    /*background-image: url("../img/ocean-sunrise.jpg");*/
    /*background-size: cover;*/
    opacity: inherit;
}

.container {
    margin: 0 auto;
    background-color: white;
    height: 100vh;
    max-width: 1200px;
}

p {
    font-weight: bold;
}

.rows {
    width: 100%;
}

.columns {
    float: left;
    /*border: 1px solid black;*/
    /*height: 2em;*/
    /*background-color: #a4a4a4;*/
}

.columns.one-half {
    width: calc(50% - 2px);
}

.columns.one-third {
    width: calc(33.33% - 2px);
}

.columns.two-thirds {
    width: calc(66.66% - 2px);
}

.columns.one-fourth {
    width: calc(25% - 2px);
}

.columns.one-eighth {
    width: calc(12.5% - 2px);
}

.space {
    height: 20px;
    background: #ffffff;
}

@media screen and (max-width: 768px) {
    .columns.one-half, .columns.one-third, .columns.two-thirds, .columns.one-fourth, .columns.one-eighth {
        width: 100%;
    }
}