:root {
    --skip-button-color: #C0FFFF;
    --skip-button-border-color: 2px solid #d3d3d3;
    --skip-button-text: #000000;
    --skip-button-text-active: #ffffff;
    --nav-bg: #d3d3d3;
}
body {
    font-family: Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}

/*===================Mobile View===================*/

/* Skip Button */
.alert-info {
    vertical-align: middle;
}

.alert-info a {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: var(--skip-button-color);
    border: var(--skip-button-border-color);
    border-radius: 5px;
    padding: 15px;
}
.alert-info a:link {
    color: var(--skip-button-text);
    font-size: 14px;
}
.alert-info a:active {
    color: var(--skip-button-text-active);
}

/* Company Header */
h1 {
    text-align: center;
    font-weight: bold;
    font-size: 48px;
}

/* Navigation */
.nav-links {
    list-style: none;
    line-height: 3.5em;
    vertical-align: middle;
    padding-left: 0;
}

.nav-links a {
    display: block;
    text-align: center;
    background: var(--skip-button-border-color);
}
li {
    margin: 0 .5em .5em .5em;
    background-color: var(--nav-bg);
}

/* Main Image */
.header-img {
    text-align: center;
    margin: 0 .5em 0 .5em;
}
img {
    /*width: 100%;*/
}

/* Main Section */
.main {
    /*margin: .5em;*/
}

/* Sub-Section */
.sub-section {
    /*margin: 2em .5em .5em .5em;*/
    font-style: italic;
}

/* Footer Elements */
footer p {
    margin-left: .5em;
    font-size: x-small;
    float: left;
}

/* Social Media Icons */
#social-media-links {
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}
/*.linked-in, .github, .twitter {*/
    /*width: 30px;*/
    /*height: 30px;*/
/*}*/


/*=============Desktop View===============*/

@media screen and (min-width: 768px) {

    /* Hide Button */
    .hidden-on-desktop {
        display: none;
    }

    /* Move Header and Nav Links to NavBar */
    h1 {
        font-size: 36px;
        margin-left: .5em;
        float: left;
    }
    .nav-links {
        float: right;
        text-align: center;
        margin-right: .5em;
    }
    li {
        display: inline-block;
        background-color: #ffffff;
    }

    /* Resize Image */
    .header-img {
        clear: both;
        margin: 0 1em 0 .5em;
        height: 385px;
    }
    img {
        width: 100%;
        height: 100%;
    }

    /* Main and Sub-Section Inline */
    .main {
        float: left;
        /*width: 60%;*/
        /*margin: 2em .5em;*/
    }
    .sub-section {
        /*width: 35%;*/
        float: right;
        /*margin: 2em .5em;*/
    }

    /* Footer <p> and social icons */
    footer {
        clear: both;
        margin-top: 30em;
    }
    footer p {
        font-size: small;
        padding-left: 0;
    }
    /*.linked-in, .github, .twitter {*/
        /*width: 40px;*/
        /*height: 40px;*/
        /*margin-bottom: .5em;*/
    /*}*/
}