body {
    background-color: lightgoldenrodyellow;
    background-image: url("/img/geometric-art.jpeg");
}

header {
    text-align: center;
}

h1, h2, h3 {
    text-decoration: underline;
}

.fancy-header {
    color: purple;
    font-family: Chalkboard;
}